@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', serif;
    background-color: #0e0f11;
    color: white;
}

h3, .link {
    color: #1E90FF;
}

.btn-primary {
    background-color: #1E90FF;
}

.bg-black {
    background-color: #0e0f11;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

#intro {
    margin: 0 15% 0 15%;
}

#profile {
    border-radius: 10px;
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
}

.card {
    background-color: #1c1d1f;
    width: 18rem;
}

.card img {
    height: 200px;
}