@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', serif;
    background-color: #0e0f11;
    color: white;
}

h3, .link {
    color: #1E90FF;
}

.btn-primary {
    background-color: #1E90FF;
}

section {
    scroll-margin-top: 92px;
}

#intro {
    margin: 0 15% 0 15%;
}

#intro p {
    font-size: 20px;
}

#intro h3 {
    font-size: 30px;
}

#profile {
    border-radius: 10px;
    box-shadow: -50px -50px 0 -42px #1E90FF, 50px 50px 0 -42px #1E90FF;
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
}

.card {
    background-color: #1c1d1f;
    width: 18rem;
}

.card img {
    height: 200px;
}

#panel {
    max-width: 800px;
}